############################################
# C# / Visual Studio 専用 .gitignore
############################################

#-------------------------------------------
# ビルド成果物（不要）
#-------------------------------------------
obj/
bin/
[TestCc]overage/
TestResults/

#-------------------------------------------
# Visual Studio キャッシュ関連
#-------------------------------------------
.vs/
*.user
*.userosscache
*.suo
*.cache
*.db
*.db-shm
*.db-wal
*.opendb

# 一時ファイル
*.tmp
*.temp
*.log
*.tlog

#-------------------------------------------
# NuGet
#-------------------------------------------
packages/
*.nupkg
*.nuget.props
*.nuget.targets

#-------------------------------------------
# ビルド時生成物
#-------------------------------------------
*.pdb
*.dll.config
*.exe.config

#-------------------------------------------
# Windowsの「? コピー.*」を無視
#-------------------------------------------
*コピー.*
* コピー.*
* - コピー.*
*.bak


#-------------------------------------------
# VSデザイナ & 自動生成
#-------------------------------------------
*_i.c
*_p.c
*.ilk
*.meta
*.idb
*.tlog

#-------------------------------------------
# Rider / VSCode 用
#-------------------------------------------
.idea/
.vscode/
*.sln.iml

#-------------------------------------------
# OSごとの不要ファイル
#-------------------------------------------
Thumbs.db
Desktop.ini
